body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-img-overlay h1{
    font-size: 90px;
    
}  


.carousel-inner img{
    height: 550px;
    object-fit: cover;
}

.card-body img {
    height: 300px;
    object-fit: cover;
}
.hero-section {
    background: linear-gradient(rgba(235, 9, 9, 0.6), rgba(226, 10, 10, 0.6)),url('../img/tentang\ atas.avif');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
}
.about-img {
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(234, 7, 7, 0.1);
}

#produk {
  scroll-margin-top: 60px;
}

#tentang {
  scroll-margin-top: 40px;
}

/* informasi */

#informasi{
    scroll-margin-top: 80px;
}

/* scroll */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    mask-image: linear-gradient(to bottom,black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom,black 80%, transparent 100%);
}

.no-scrollbar {
    max-height: 100px; overflow-y: auto;
}

.card-text {
    max-height: 130px; overflow-y: auto;
    mask-image: linear-gradient(to bottom,black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom,black 80%, transparent 100%);
}

.card-text::-webkit-scrollbar {
    display: none;
}
/* .btn-primary{
    background-color: rgb(0, 143, 0);
    border: none;
} */

.navbar-brand img{
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}

.container-fluid span{
    font-weight: bold;
}

.card img{
    height: 300px;
    object-fit: cover;
    padding: 10px;
}

#informasi .card-body{
    height: 200px;
}


/* tentang */


